<h1>Questions#answer</h1>

<p><strong> Your question to the coach: </strong></p>
<%= @question %>
<p><strong> Your coach answer: </strong></p>
<%= @answer %>

<p><%= link_to "Ask a new question", ask_path %></p>
